{% extends "base.html" %}
{% block title %}{{channel}} logs{% endblock %}
{% block body %}

<style type="text/css">
.backlog .message-type-8 .msg,
.backlog .message-type-16 .msg,
.backlog .message-type-32 .msg,
.backlog .message-type-128 .msg {
	color: fuchsia;
}
.backlog .message-type-16384 .msg {
	color: green;
}
.backlog .message-type-1 .msg.highlight {
	background-color: orange;
}
.backlog .message-type-8 .msg::before {
	content: "Now known as: ";
}
.backlog .message-type-16 .msg::before {
	content: "Mode: ";
}
.backlog .message-type-32 .msg::before {
	content: "Joined: ";
}
.backlog .message-type-128 .msg::before {
	content: "Quit: ";
}
.backlog .time {
	color: grey;
}
.backlog .sender::before {
	content: "<";
}
.backlog .sender::after {
	content: ">";
}
.backlog .sender a {
	text-decoration: none;
}
.backlog .time::before {
	content: "[";
}
.backlog .time::after {
	content: "]";
}
.color0, .color00 { color: #e90d7f; }
.color1, .color01 { color: #b39775; }
.color2, .color02 { color: #b30e0e; }
.color3, .color03 { color: #17b339; }
.color4, .color04 { color: #58afb3; }
.color5, .color05 { color: #9d54b3; }
.color6, .color06 { color: #8e55e9; }
.color7, .color07 { color: #ff6a00; }
.color8, .color08 { color: #ff4500; }
.color9, .color09 { color: #ff7f50; }
.color10 { color: #00ff7f; }
.color11 { color: #daa520; }
.color12 { color: #3176b3; }
.color13 { color: #1e90ff; }
.color14 { color: #2e8b57; }
.color15 { color: #c804bb; }
</style>

<h3>Starting at {{messages[0].time}} on {{channel}}</h3>
<table class="backlog">
	<tbody>
	{% for message in messages %}
		<tr class="message-type-{{message.type}}">
			<td class="time" title="{{message.time.strftime('%Y-%m-%d')}}">{{message.time.strftime("%H:%M:%S")}}</td>
			<td class="sender"><a href="?nick={{message.sender.pretty_name()}}" class="color{{ hash(message.sender.pretty_name()) % 16 }}">{{message.sender.pretty_name()}}</a></td>
			<td class="msg {% if highlight and highlight in message.message.lower() %}highlight{% endif %}">
				{{process_message(message.message)|safe}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
