{% extends "base.html" %}
{% block title %}{{channel}} logs{% endblock %}
{% block body %}

<style type="text/css">
.backlog .message-type-8 .msg,
.backlog .message-type-16 .msg,
.backlog .message-type-32 .msg,
.backlog .message-type-128 .msg {
	color: fuchsia;
}
.backlog .message-type-16384 .msg {
	color: green;
}
.backlog .message-type-1 .msg.highlight {
	background-color: orange;
}
.backlog .message-type-8 .msg::before {
	content: "Now known as: ";
}
.backlog .message-type-16 .msg::before {
	content: "Mode: ";
}
.backlog .message-type-32 .msg::before {
	content: "Joined: ";
}
.backlog .message-type-128 .msg::before {
	content: "Quit: ";
}
.backlog .time {
	color: grey;
}
.backlog .sender::before {
	content: "<";
}
.backlog .sender::after {
	content: ">";
}
.backlog .sender a {
	text-decoration: none;
}
.backlog .time::before {
	content: "[";
}
.backlog .time::after {
	content: "]";
}
.color0 { color: #e90d7f }
.color1 { color: #8e55e9 }
.color2 { color: #b30e0e }
.color3 { color: #17b339 }
.color4 { color: #58afb3 }
.color5 { color: #9d54b3 }
.color6 { color: #b39775 }
.color7 { color: #3176b3 }
.color8 { color: #e90d7f }
.color9 { color: #8e55e9 }
.color10 { color: #b30e0e }
.color11 { color: #17b339 }
.color12 { color: #58afb3 }
.color13 { color: #9d54b3 }
.color14 { color: #b39775 }
.color15 { color: #3176b3 }
</style>

<h3>Starting at {{messages[0].time}} on {{channel}}</h3>
<table class="backlog">
	<tbody>
	{% for message in messages %}
		<tr class="message-type-{{message.type}}">
			<td class="time" title="{{message.time.strftime('%Y-%m-%d')}}">{{message.time.strftime("%H:%M:%S")}}</td>
			<td class="sender"><a href="?nick={{message.sender.pretty_name()}}" class="color{{ hash(message.sender.pretty_name()) % 16 }}">{{message.sender.pretty_name()}}</a></td>
			<td class="msg {% if highlight and highlight in message.message.lower() %}highlight{% endif %}">
				{{process_message(message.message)|safe|urlize()}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
